@import "../PanelStyle.uss";

/* Level 4.3 ParamView */
.paramView{
    flex-direction: column;
    width: 70%;
}

.parameter__field{
    flex-direction: row;
    width: 90%;
}

.parameter__slider{
    flex-direction: column;
    width: 90%;
}
