@import "../PanelStyle.uss";

.root{
    left: 80%;
    right: 0.5%;
}

.expand-panel{
    margin-left: auto;
}

.button {
    right: 0%;
    margin-left: auto;
}

.scene-list-item{
    margin-top: 5px;
    background-color: var(--button-color);
}

.scene-list-item:hover {
    border-radius: 10px;
    scale: 1.1;
}

.scene-list-item__selected{
    
}

